$main-color: #BB79D2;
$secondary-color: #349D3F;
$padding-low-high: 30px 0 30px 0;

ul.menu, header {
  color: $main-color;
}

h2 {
  color: $secondary-color;
}

section {
  padding: $padding-low-high;
}

/* kolor divów został zmieniony na biały bo tak */


// to jest przykład rozwiązania zadania
