
// Zadanie z wykładowcą i 1
$base-width:100%/12;

*{
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  .row{
    margin-top: -10px;
    margin-bottom: -10px;
    &:before, &:after{
      content: "";
      clear: both;
      display: table;
    }
    [class*="col-"]{
      min-height: 1px;
      float: left;
      width: $base-width;
      padding: 10px 0px;
      border: 1px solid black;
      word-wrap: break-word;
    }
    @for $i from 1 through 12{
      .col-#{$i}{
        width: $base-width * $i;
      }
    }
  }
}
